.home{
    background-image: url(../images/icons8-team-m0oSTE_MjsI-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
#hank nav dl :hover{
    color: teal;
    font-size: 34px;
}

#hank nav dl{
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    font-size: 36px;
    background-color: black;
    color: white;
    
}
#hank nav dl :hover{
    color: teal;
    font-size: 34px;
}
#hank nav dl dt a{
    color: white;
}
#job{
  
    color: white;
    /* padding-top: 17%; */
    background-color: rgba(9, 49, 56, 0.7);
    height: 100vh;
}
h1{
    font-size: 56px;
    color: yellow;
}
h2{
    font-size: 39px;
}

#heading{
    text-align: center;
    padding-top: 10%;
    color: yellowgreen;
    
}
#photo{
    text-align: center;
    font-size: 24px;
}
/* form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .example img{
      height: 50px;
      width: 39px;
     
  }
  form{
    margin-right: 10px;
  } */
  #footer{
      text-align: center;
      justify-content: space-evenly;
      background-color: black;
      
  }
  #footer img{
      padding-top: 10px;

  }
 