.home{
    background-image: url('images/main.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
} 

#logo-img{
    padding-top: 12%;
    margin-left: 48%;
}
#logo-txt p{
    font-size: 1.5em;
    color: rgb(255, 179, 65);
    text-align: center;
}
#logo-txt {
    font-size: 1.3em;
}
#logo-txt h1, h2{
    font-family:url('https://fonts.google.com/specimen/Sansita+Swashed');
    font-size: 2.5em;
    color: blue;
    text-align: center;
    padding-top: 2%;
}

.txt-sm{
    font-size: .7em;
}
body {
    font-family: 'Balsamiq Sans', serif;
    font-size: 1.3em;  
}
html{
    scroll-behavior: smooth;
}
#mouse{
    height: 55px;
    margin-left: 50%;
    margin-top: 12%;
    background-image: url('../images/mouse_click.png');
    background-repeat: no-repeat;
    animation: ease-in-out;
    animation-duration: 1.5s;
} 
#container-fluid{
    padding: 0px, 0px;
    margin-right: 1px;
    margin-left: 0px;
}
.services{
    height: 385px;
    background-image;
    background-size: cover;
    color: black; font-style: italic;
}
.services p{
    text-align: center;
}
#services-title{
    font-size: 2.3em;
}
#what-do{
    font-size: 2.8em;
    text-align: center; padding-top: 1%; font-style: italic;
}
#port-imgs img{
    max-width: 90%;
}
#port-imgs{
    margin-right: 15%;
    margin-left: 15%;
}
.carousel-caption{
    display: none;
}
#port-imgs img:hover{
    opacity: .6;
}
.img-txt p{
    font-size: 1.2em;
    font-weight: bold;
}
.contact{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    color: white;
    font-size: 2.5em;
}
.contact p{
    text-align: center;
}
.form-control{
    border: 2px solid white;
    background-color: transparent;
}
.danger{
    border: 2px solid red;
}
.form-control::placeholder{
    color: white;
}
input[type="text"]::placeholder, input[type="email"]::placeholder{
    color: white;
}
#social > .col{
    flex-grow: unset;
}
.outro p{
    text-align: center;
    font-weight: bold;
}
#design-txt, #development-txt, #product-txt{
    display: none;
    margin-left: -24%;
    padding-left: 9%;
    padding-right: 9%;
}
.toast{
    color: black;
    display: none;
    
}
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
   
}
.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.1,0.2) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

@media(min-width: 600px){
    .navbar img{
        width: 40%;
        margin-left: 27%;
    }
}
@media(min-width: 900px){
    .navbar img{
        width: 30%;
        height: 50%;
        margin-left: 35%;
    }
}